
#AnchorPane_top{
	-fx-background-color: #1b1d20;
	-fx-border-color:  #bfbfbf;
	-fx-border-width: 0 0 2 0;
}

.AnchorPane_topline{
	-fx-background-color: #1b1d20;
	-fx-border-color: #bfbfbf;
	-fx-border-width: 1 0 0 0;
}

#AnchorPane_bottom{
	-fx-background-color: #1b1d20;
	-fx-border-width: 2 0 0 0;
	-fx-border-color: #bfbfbf;
}


#button_Setting,#button_Minimize,#button_Maxmize,#button_Close,#button_Search{
	-fx-background-color: transparent;
}

.button_WhiteBorder {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button_WhiteBorder:hover {
    -fx-background-color: #3a3a3a;
}

.button_WhiteBorder:pressed, .button_WhiteBorder:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button_WhiteBorder:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button_WhiteBorder:disabled, .button_WhiteBorder:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button_WhiteBorder:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button_WhiteBorder:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.text-field{
	-fx-text-fill: #ffffff;
	-fx-background-color : null;
	-fx-border-color: #bfbfbf;
}



.label{
    -fx-text-fill: #ffffff;
}
.split-pane{
   -fx-padding: 0;
}
.split-pane > .split-pane-divider {  
    -fx-padding: 0 0.01em 0 0.01em;     
} 


.black-backgroud {
   -fx-background-color: #1b1d20 ;

}


.titled-pane 
{ 
   -fx-text-fill: #1b1d20;
   -fx-border-width: 0 0 0 0;
}

.titled-pane > .title {

 -fx-background-color: #1b1d20, -fx-inner-border, -fx-body-color;

}


.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: #1b1d20;
 }

.scroll-pane > .viewport {
    -fx-background-color: #1b1d20; 
}

.tab-pane>.tab-header-area> .tab-header-background {
   -fx-background-color: -fx-outer-border,-fx-text-box-border, #1b1d20;
}

.noborder{  
    -fx-padding: 0;  
    -fx-background-insets: 0;  
}  



.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill:  #ffffff;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: -fx-outer-border, -fx-inner-border, #1b1d20;
}


#label_Title{
	-fx-background-image: url("Title.png")
}
#Label_Head{
	-fx-background-image: url("Head.png");

}

#button_Minimize{
	-fx-background-image: url("MinmizeDark.png")
}
#button_Minimize:hover{
	-fx-background-image: url("Minmize.png")
}

#button_Close{
	-fx-background-image: url("CloseDark.png");
}
#button_Close:hover{
	-fx-background-image: url("Close.png")
}
#button_Setting{
	-fx-background-image: url("SettingDark.png")
}

#button_Setting:hover{
	-fx-background-image: url("Setting.png")
}

#button_Maxmize{
	-fx-background-image: url("MaxmizeDark.png");
}

#button_Maxmize:hover{
	-fx-background-image: url("Maxmize.png");
}
#button_Search {
	-fx-background-image: url("SearchDark.png")
}

#button_Search:hover{
	-fx-background-image: url("Search.png")
}

.tree-view, .tree-cell {
    -fx-background-color: #1b1d20 ;
    -fx-text-fill: #ffffff ;
}
.tree-cell .tree-disclosure-node .arrow {
 -fx-background-color:#ffffff;
  -fx-border-color: #ffffff;
}


