

.tree-view, .tree-cell {
    -fx-background-color: -fx-box-border, -fx-control-inner-background,#1b1d20 ;
    -fx-text-fill: #ffffff ;
   
}
.tree-cell .tree-disclosure-node .arrow {
 -fx-background-color:#ffffff;
  -fx-border-color: #ffffff;
}

