#button_save{
	-fx-background-image: url("save1.png");
	-fx-background-color: transparent;
}
#button_print{
	-fx-background-image: url("print1.png");
	-fx-background-color: transparent;
}
#leftarrow_btn{
	-fx-background-image: url("left_arrow.png");
	-fx-background-color: transparent;
}
#rightarrow_btn{
	-fx-background-image: url("right_arrow.png");
	-fx-background-color: transparent;
}
#anchor_table,#anchor_curve,#anchor_image,#anchor_mediaview,#anchor_img{
		-fx-border-width: 2 2 2 2;
		-fx-border-color: #bfbfbf;
}
 
.replay_mode{
	-fx-background-color:blue; 
	-fx-text-fill: #ffffff;
}  
.unselected{
	-fx-background-color:e5e5e5;
}
.realtime_mode{
	-fx-background-color:red;
} 
.selected{
	-fx-background-color:#0096cd;
}
.label{
	-fx-text-fill: black;
}  
#label_head,#Label_startTime,#Label_endTime,#label_mode1,#label_mode2,#label_mode3,#label_mode4,#label_mode5{
	-fx-text-fill: #ffffff;
}

.buttonPlay{
	-fx-background-image: url("PlayDark.png");
	-fx-background-color: transparent;
}

.buttonPlay:hover{
	-fx-background-image: url("Play.png");
	-fx-background-color: transparent;
}

.buttonPause{
	-fx-background-image: url("PauseDark.png");
	-fx-background-color: transparent;
}

.buttonPause:hover{
	-fx-background-image: url("Pause.png");
	-fx-background-color: transparent;
}

#Button_next{
	-fx-background-image: url("NextDark.png");
	-fx-background-color: transparent;
}

#Button_next:hover{
	-fx-background-image: url("Next.png");
	-fx-background-color: transparent;
}
#Button_last{
	-fx-background-image: url("LastDark.png");
	-fx-background-color: transparent;
}

#Button_last:hover{
	-fx-background-image: url("Last.png");
	-fx-background-color: transparent;
} 
.slider .thumb {
    -fx-pref-height: 20;
	-fx-min-height: 20;
	-fx-max-height: 20;
	-fx-pref-width: 20;
	-fx-min-width: 20;
	-fx-max-width: 20;
	-fx-background-color: white;
    -fx-background-image:  url("progress.png");
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 2.0em; /* makes sure this remains circular */
    -fx-padding: 0.583333em;  /* 7 */
} 
.slider .thumb:focused , .slider .thumb:hover{
	-fx-effect: dropshadow(three-pass-box , white, 20, 0.0 , 0, 0);
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
}
.slider .track {
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}
.progress-bar > .bar{
	-fx-pref-height: 15;
	-fx-min-height: 15;
	-fx-max-height: 15;
} 
.progress-bar:determinate > .bar {
    -fx-background-color: red;
}
.progress-bar:indeterminate > .bar {
    -fx-background-color: #408080;
}
.progress-bar > .track{
	-fx-pref-height: 15;
	-fx-min-height: 15;
	-fx-max-height: 15;
	-fx-border-width: 0 0 0 0;
	-fx-background-color: #606060;
}